html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    text-align: right;
    overflow-x: hidden;
}

h1 {
    margin-top: -20px;
    font-weight: 800;
    font-size: 6em;
}

h2 {
    padding-top: 20vh;
    font-weight: 600;
    font-size: 4em;
}

p {
    font-size: 1.5em;
    line-height: 1em;
}

/*
@media (min-width: 768px) { 
    
 }


@media (min-width: 992px) { 
    .projects {
        margin: 0 38px;
    }
    .proj {
        margin: 15px;
    }
 }

@media (min-width: 1000px) { 
    .projects {
        margin: 0 45px;
    }
    .proj {
        margin: 15px;
    }
 }
 
 @media (min-width: 1000px) { 
    .projects {
        margin: 0 45px;
    }
    .proj {
        margin: 15px;
    }
 }
 
@media (min-width: 1200px) { 
    .projects {
        visibility: hidden;
    }
 }

*/
.main {
    background-color: #41B3D3; 
    /*background-image: url(img/fireworks1.jpeg); */
    background-size: 100% 100vh;
    height: 95vh;
    width: 100vw;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    .info{
        padding: 0 50px;
    }
}

.title {
    color: #000;
    text-align: center;
    font-size: 4em;
    padding-top:60px;
    padding-bottom: 45px;
}

.who {
    color: black;
    text-align: left;
    width: 100%;
    margin: 0;
    background-color: #FFF;
    
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    
    .col-md-6 {
        background-color: #2c3e50;
        color: #FFF;    
        height: 300px;
        padding: 30px 50px;    
        
        h4 {
            font-size: 3em;
            text-transform: uppercase;
        }
        
        p {
            line-height: 1.5em;
        }
    }
    
    .developer-pic {
        background-image: url(img/devpic.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    
    .entrepreneur-pic {
        background-image: url(img/e-pic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    
    .student-pic {
        background-image: url(img/s-pic.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    
}

.projects {    
    color: #000;
    text-align:center;
    margin-left: 30px;
    
    .p-description {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    
    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .project-container{
        font-family: 'Source Sans Pro', sans-serif;
        display: inline-block;
        margin: 0 1px;
    }
    
    .proj {
        height: 230px;
        
        color: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        
        h3 {
            display: block;
            visibility: hidden;
        }                 
        p {
            display: block;
            visibility: hidden;
        }
        
        i {
            color: #FFF;
            font-size: 2em;
            margin: 0 10px;
            visibility: hidden;
            
            -webkit-transition: color .25s ease-in-out;
            -moz-transition: color .25s ease-in-out;
            -ms-transition: color .25s ease-in-out;
            -o-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out; 
        }
        
        -webkit-transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -ms-transition: background .25s ease-in-out;
        -o-transition: background .25s ease-in-out;
        transition: background .25s ease-in-out;                                                                                    
    }
    
        .p1 {
        background-image: url(img/projects/1.png);
    } .p2 {
        background-image: url(img/projects/2.png);
    } .p3 {
        background-image: url(img/projects/3.png);
    } .p4 {
        background-image: url(img/projects/4.png);
    } .p5 {
        background-image: url(img/projects/5.png);
    } .p6 {
        background-image: url(img/projects/6.png);
    } .p7 {
        background-image: url(img/projects/7.png);
    } .p8 {
        background-image: url(img/projects/8.png);
    } .p9 {
        background-image: url(img/projects/6.png);
    } .p10 {
        background-image: url(img/projects/4.png);
    } .p11 {
        background-image: url(img/projects/5.png);
    } .p12 {
        background-image: url(img/projects/6.png);
    }
    
    .proj:hover {
        h3 {
            visibility: visible;
            display: block;
        }
        p {
            visibility: visible;
        }
        i {
            visibility: visible;
        }
        i:hover {
            color: #2c3e50;
        }
        
        background: #41B3D3;
    } 
}

.contact {
    background-color: #444444; 
    width: 100vw;
    height: 100%;
    padding: 40px;
    
    p {
        color: #FFF;
        margin-top: -30px;
    }
    
    .icons {
        text-align: center;
    }
    
    i {
        color: #FFF;
        font-size: 7em;
        margin: 0 30px;
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -ms-transition: color .25s ease-in-out;
        -o-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out; 
    }
    
    i:hover {
        color: #41B3D3;
    }
    
}